<html>
    <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

      <style>
        {{asset "contas-contabeis-base.css" "utf8"}}

        #header, #footer { padding: 0 !important; }
      </style>
    </head>
    <body class="p-5">
      {{component "header" }}

      <table class="">
        <caption>
          <h3>
            Lista de bens
          </h3>
        </caption>

        <thead class="">
          <tr>
            <th scope="col" class="">
              #
            </th>
            <th scope="col" class="">
              Conta contábil
            </th>
            <th scope="col" class="">
              Quantidade de bens
            </th>
            <th scope="col" class="">
              Valor de aquisição
            </th>
            <th scope="col" class="">
              Valor contábil líquido
            </th>
            <th scope="col" class="">
              Saldo da conta
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each bens.data}}
            <tr>
              <td scope="row" class="body-cell">{{sum @index 1}}</td>
              <td class="body-cell">{{ contaContabilId }} - {{ contaContabilNome }}</td>
              <td class="body-cell text-right">{{ quantidadeBens }}</td>
              <td class="body-cell text-right">{{ moneyMask totalValorAquisicao }}</td>
              <td class="body-cell text-right">{{ moneyMask totalValorContabilLiquido }}</td>
              <td class="body-cell text-right">{{ moneyMask totalSaldoConta }}</td>
            </tr>
          {{/each}}
          <tr>
            <td class="text-center" colspan="2"><b>Total</b></td>
            <td scope="row" class="body-cell text-right">{{ bens.totalQuantidadeBens }}</td>
            <td class="body-cell text-right">{{ moneyMask bens.totalValorAquisicao }}</td>
            <td class="body-cell text-right">{{ moneyMask bens.totalValorContabilLiquido }}</td>
            <td class="body-cell text-right">{{ moneyMask bens.totalSaldoConta }}</td>
          </tr>
           <tr>
            <td class="text-left" colspan="8">
              <b>Quantidade de contas:</b> {{ bens.total }}
            </td>
          </tr>
        </tbody>
      </table>
    </body>
  </html>
