<html>
    <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

      <style>
        {{asset "bens-nao-localizados-base.css" "utf8"}}

        #header, #footer { padding: 0 !important; }
      </style>
    </head>
    <body class="p-5">
      {{component "header" }}
      
      <table class="">
        <caption>
          <h3>
            Lista de bens
          </h3>
        </caption>

        <thead class="">
          <tr>
            <th scope="col" class="">
              #
            </th>
            <th scope="col" class="">
              Tombamento
            </th>
            <th scope="col" class="">
              Tombamento antigo
            </th>
            <th scope="col" class="">
              Departamento
            </th>
            <th scope="col" class="">
              Responsável
            </th>
            <th scope="col" class="">
              Descrição sintética
            </th>
            <th scope="col" class="">
              Classificação
            </th>
            <th scope="col" class="">
              Valor contábil líquido
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each bens.result}}
            <tr>
              <td scope="row" class="body-cell">{{sum @index 1}}</td>
              <td class="body-cell">{{ tombamento }}</td>
              <td class="body-cell">{{ tombamentoAntigo }}</td>
              <td class="body-cell">{{ departamentoSigla }} - {{ departamentoNome }}</td>
              <td class="body-cell">{{ pessoaResponsavelNome}}</td>
              <td class="body-cell">{{ descricaoSintetica }}</td>
              <td class="body-cell">{{ classificacao }}</td>
              <td class="body-cell text-right">{{ moneyMask valorContabilLiquido }}</td>
            </tr>
          {{/each}}
          <tr>
            <td class="text-center" colspan="6"><b>Total</b></td>
            <td scope="row" class="body-cell">Quantidade de bens: {{ bens.total }}</td>
            <td class="body-cell text-right">{{ moneyMask bens.totalValorContabilLiquido }}</td>
          </tr>
        </tbody>
      </table>
    </body>
  </html>
