<html>
    <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

      <style>
        {{asset "bens-serviveis-base.css" "utf8"}}

        #header, #footer { padding: 0 !important; }
      </style>
    </head>
    <body class="p-5">
      {{component "header" }}
      
      <table class="">
        <caption>
          <h3>
            Lista de bens
          </h3>
        </caption>

        <thead class="">
          <tr>
            <th scope="col" class="">#</th>
            <th scope="col" class="">Tombamento</th>
            <th scope="col" class="">Tombamento antigo</th>
            <th scope="col" class="">Localização</th>
            <th scope="col" class="">Descrição sintética</th>
            <th scope="col" class="">Classificação</th>
            <th scope="col" class="">Valor contábil líquido</th>
          </tr>
        </thead>
        <tbody>
          {{#each bens.data}}
            <tr>
              <td scope="row" class="body-cell">{{sum @index 1}}</td>
              <td class="body-cell">{{tombamento}}</td>
              {{#if tombamento_antigo}}
                <td class="body-cell">{{tombamento_antigo}}</td>
              {{else}}
                <td class="text-center">-------</td>
              {{/if}}
              <td class="body-cell">{{departamento_sigla}} - {{departamento_nome}}</td>
              <td class="body-cell">{{descricao_sintetica_nome}}</td>
              <td class="body-cell">{{classificacao_nome}}</td>
              <td class="body-cell text-right">{{moneyMask valor_contabil_liquido}}</td>
            </tr>
          {{/each}}
          <tr>
            <td class="text-center" colspan="6">
              <b>TOTAL</b>
            </td>
            <td class="text-right">
                {{ moneyMask bens.total_valor_contabil_liquido }}
            </td>
          </tr>
          <tr>
            <td class="text-right" colspan="8">
              <b>Quantidade de bens:</b> {{ bens.total }}
            </td>
          </tr>
        </tbody>
      </table>
    </body>
  </html>
